/* Feuille de style de https://cai.inria.fr 

 Theme Name:   femina-cai
 Theme URI:    https://cai.inria.fr/wp-content/themes/femina-cai
 Description:  The https://cai.inria.fr theme child of https://fr.wordpress.org/themes/femina
 Author:       Benjamin Ninassi, Sabrina Ballauri, Thierry Viéville
 Author URI:   mailto:benjamin.ninassi@inria.fr,snjazur@gmail.com,thierry.vieville@inria.fr
 Template:     femina
 Version:      1.0.0
 License:      CeCILL-C
 License URI:  https://cecill.info/licences/Licence_CeCILL-C_V1-fr.html
 Tags:         cai-specific
 Text Domain:  twentyfifteenchild
 
 Verif d'utilisation : body {  background-color: yellow; }
*/

/* Global colors */
:root {
  --light-greyblue:#c0d5df;
  --dark-greylbue:#314B5A;
  --light-grey:#f2f2ef; 
  --light-white:#fafafa;  
  --body-background-color:var(--light-grey);
  --header-background-color:var(--light-white);
  --main-background-color:var(--light-greyblue);
  --main-menutext-color:var(--dark-greylbue);
  
  
}

body{
  background-color: var(--body-background-color);
}

.clear{
  clear:both;
}
.inline{
  display:inline!important; 
}
/* Fonts globales */
body, button, input, select, textarea{
  line-height: inherit;	
}
ul, ol {
  /*margin: inherit; not sure that it doesn't break something*/
}

#main-content,
#container,
.site-navigation a {
    font-family: Circular Std,sans-serif!important;
	font-size:14px;
}
#main-content{
  padding-top:10px;
}
/* Ajustement des menus */
/*titre*/
.home-link:hover .site-title,
.home-link:focus .site-title {
    color: #000000;
}

.profileMenuLogged {
    display: none!important;
}

.entry-title {
    color: #000000;
}

h2.entry-title{
  font-size:20px;
}

.site-description {
  /*max-width: 200px;*/
}

.site-navigation .current_page_item > a,
.site-navigation .current_page_ancestor > a, 
.site-navigation .current-menu-item > a, 
.site-navigation .current-menu-ancestor > a {
    font-weight: bold;
	white-space: nowrap;
}

#secondary-menu li {
    margin: 0px;
}

#secondary-menu .menu-item a {
    color: var(--main-menutext-color);
    white-space: nowrap;
}

#secondary-menu .menu-item a:hover {
    font-weight: bold!important;
    color: #000000!important;
    background-color: white;
}

#secondary-menu li a {
    color: var(--main-menutext-color);
}

#secondary-menu .sub-menu{
  left:0px;
}
#secondary-menu .sub-menu a:hover{
  background-color: var(--main-background-color);
  color:white;
}
#secondary-menu .sub-menu a{
  text-align:left;
}
#secondary-menu .profile .genericon {
  position:absolute;
  top:12px;
  font-size:12px;
}
#secondary-menu .profile,
#secondary-menu .sub-menu{
  width:160px;
}

#secondary-menu .profile .dropdown-toggle{
  display:none;
}

.widget-area a,
.widget-area a:focus {
    color: var(--main-menutext-color);
} /* liens bleu-gris*/
.widget-area a:hover {
    color: #000000; /*hover black*/
}
#menu-menu-accueil-footer{
  margin-top:10px!important;
  margin-bottom:10px!important;
}
.cai_on_facebook{
  font-size: 1.728em;
  font-weight: 700;
}
.title-description .site-description{
  padding-top:0px;
  color:var(--main-menutext-color);
  vertical-align: middle;
  display: table-cell;
}
.entry-meta a{
  color: #777 !important;
}

@media (min-width: 881px) {
	/* Menu */
	.title-description{
	  padding-left:1em;
	  text-transform:uppercase;
	}
	.title-description .site-description{
	  font-size:2.074em;
      height: 80px;
	}
	#site-identity{
	  padding:10px;
	}
	#site-identity img{
	  margin:0px;
	  padding:0px;
	}
	#site-identity .home-link{
	  padding:0px;
	}
	
    #primary-menu {
        margin-top: 30px;
    }
	#secondary-menu .sub-menu{
      display: none;
	  border: 1px solid #777;
    }
    #secondary-menu .profile:hover .sub-menu {
      display: block;
    }
    #secondary-menu .profile:hover > a {
      background-color: white;
    }
    #secondary-menu .profile:hover .profile {
      border: 1px solid #777;
    }
    .menu-accueil a:before {
        content: "";
        display: block;
        background: url("logos/menu-accueil.png") no-repeat;
        width: 30px;
        height: 30px;
        background-position: center top;
        margin: auto;
    }

    .menu-ressources a:before {
        content: "";
        display: block;
        background: url("logos/menu-ressources.png") no-repeat;
        width: 30px;
        height: 30px;
        background-position: center top;
        margin: auto;
    }

    .menu-partage a:before {
        content: "";
        display: block;
        background: url("logos/menu-partage.png") no-repeat;
        width: 30px;
        height: 30px;
        background-position: center top;
        margin: auto;
    }

    .menu-event a:before {
        content: "";
        display: block;
        background: url("logos/menu-evenement.png") no-repeat;
        width: 30px;
        height: 30px;
        background-position: center top;
        margin: auto;
    }

    .menu-contact a:before {
        content: "";
        display: block;
        background: url("logos/menu-contact.png") no-repeat;
        width: 30px;
        height: 30px;
        background-position: center top;
        margin: auto;
    }

    .menu-moncai a:before {
        content: "";
        display: block;
        background: url("logos/menu-moncai.png") no-repeat;
        width: 30px;
        height: 30px;
        background-position: center top;
        margin: auto;
    }

    #categories-menu:before {
        content: "";
        display: block;
       /* background: url("logos/menu-moncai.png") no-repeat;
        width: 25px;*/
        height: 20px;
        background-position: center middle;
        margin: auto;
    }
}
.menu-toggle{
  top:6px;
}
.menu-toggle:focus {
    background-color: #D1F4FF;
}

.menu-toggle:before {
    color: #3E6DA8;
 /*#c0d5df;*/
}

.menu-toggle, .menu-toggle:hover, .menu-toggle:active, .menu-toggle:focus {
    border-color: #3E6DA8;
 /*#c0d5df;*/
}
/* menu lateral*/
.sidebar-widget-areas {
 /*box-shadow: -1px 0px 3px -1px #3c4b44;*/
    padding: 0px;
}

#primary-sidebar {
  background-color: var(--main-background-color);
  padding:10px;
  height:100%;
  text-transform:uppercase;
  font-family: Circular Std,sans-serif!important;
}
/*pour la partie twitter de la page d'accueil*/
#primary-sidebar  #ctf{
  text-transform:none;
}
#primary-sidebar h2{	
  font-size: 1.2rem;
}

#primary-sidebar ul.menu,
#primary-sidebar ul.sub-menu {
    list-style: none;
    margin: 0px;
}

#primary-sidebar .menu-item a{
    padding: 10px 20px;
    display: block;
	width:100%;
	font-weight:normal!important;
}

#primary-sidebar .categories a {
    padding: 5px 10px;
	font-weight:normal!important;
}
li.categories{
  margin: 10px 0px;
}

#primary-sidebar .menu-item a:hover,
#primary-sidebar .categories a:hover {
    font-weight: bold!important;
    background-color: white;
    border-left: 5px solid var(--main-menutext-color);
    color: #000000;
}

/* Champ de recherche */

.search-submit {
    color: #000000;
}

.search-submit:hover,.search-submit:focus,input[type="submit"]:hover,input[type="submit"]:focus,
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: var(--main-menutext-color);
}

button, button[disabled]:hover, button[disabled]:focus, input[type="button"], input[type="button"][disabled]:hover, input[type="button"][disabled]:focus, input[type="reset"], input[type="reset"][disabled]:hover, input[type="reset"][disabled]:focus, input[type="submit"], input[type="submit"][disabled]:hover, input[type="submit"][disabled]:focus {
    background-color: var(--main-background-color);
}

#masthead{
    background-color: var(--header-background-color);
}

header .search-form:hover .search-field,
header .search-field:focus {
    border: 1px solid var(--main-menutext-color);
}

header .search-field {
    width: 100%;
    background-color: var(--header-background-color);
    border: 1px solid var(--main-background-color);
    color: #333;
}

.post-thumbnail img, 
.page-thumbnail img,
.featured-image img{
  width: 250px;
  float: left;
  margin-right: 20px;
  margin-bottom:10px;
}

.post, .ressource, .breve {
    border: 1px solid #ddd;
    padding: 0.6em 0.8em;
    margin: 0;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.single .post,
.single .ressource,
.single .breve {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Ressources */
.pod-link{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom:10px;
  text-align:center;
}

.entry-content .tnp-profile form .tnp-field input[type="submit"],/*newsletter*/
.tnp .tnp-field input[type="submit"],/*newsletter*/
.tnp-widget .tnp-field input.tnp-submit, /*newsletter*/
.pod-link a{
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  background-color: var(--main-menutext-color);
  color: white;
  border-radius: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
  width:300px;
}

.tnp-widget .tnp-field input.tnp-submit, /*newsletter*/{
  width:100%;
}

.entry-content .tnp-profile form .tnp-field input[type="submit"]:hover,/*newsletter*/
.tnp .tnp-field input[type="submit"]:hover,/*newsletter*/
.tnp-widget .tnp-field input.tnp-submit:hover, /*newsletter*/
.pod-link a:hover{
  background-color: #000000;
  color:white;
}

.entry-content ul ul{
	margin-left:10px;
	list-style:circle;
}

/* Newsletter */
.tnp-subscription{
  margin:15px 0px !important;
}
.tnp-field{
  color: #555555 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  font-weight: bold !important;
  font-weight: 600	 !important;
}
.tnp-field input[type="email"],
.tnp-field input[type="text"]{
  border: 1px solid #ddd !important;
  padding: 0 12px !important;
  width: 100%;
  display: block !important;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: text !important;
  font-size: 15px !important;
  height: 40px !important;
  box-sizing: border-box !important;
  box-shadow: none !important;
  margin: 0 !important;
  position: static;
  outline: none !important;
}

/* Forums */

#forum-navigation .profile-link{
  display:none!important;
}
#main-content > article#post-28 > header > h1.entry-title {
  visibility:hidden;
}
#main-content > article#post-28 > header > h1.entry-title::before {
  content:"Mes Partages";
  visibility:visible;
}

/* Profil */
.entry-content .um{
  margin:0px  !important;
}
.um-profile-edit .um-dropdown-b > ul > li:nth-child(3) {
   display: none;
}

@media (max-width: 881px) {
    header #categories2-menu .search-form {
        display: flex;
    }
	.toggled-on .primary-navigation .menu, 
	.toggled-on .secondary-navigation .menu{
	  margin-left:0px;
	}
	.toggled-on .primary-navigation .menu a, 
	.toggled-on .secondary-navigation .menu a{
	  padding-left:10px;
      display:block!important;	  
	}
	.toggled-on .primary-navigation .menu a:hover{	
	  background-color:var(--main-background-color);
	  color:white;
	}
	.toggled-on .secondary-navigation .menu a:hover{
	  background-color:#white;
	  color:black;
	}
	
	#secondary-menu .profile,
    #secondary-menu .sub-menu{
      width:100%;
    }
	#secondary-menu .sub-menu{
      margin-left:0px;
    }
	#secondary-menu .profile .sub-menu{
      display:block;
    }
	.title-description{
	  margin-top: 0.5em;
      margin-left: 10px;
	  max-width:65%;
	}	
	.title-description .site-description{
	  position: unset;
	  font-size:1em;
      height: 40px;
	  width:auto;
	  clip:auto;
	}
	
}

/* Création de compte */

.wp-activate-container {
    margin: 0 auto;
    width: 90%;
}


/* Logos page contact */

#contact-bar > ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

#contact-bar > li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}

#contact-bar {
    width: 350px;
    height: 78px;
    margin-left: auto;
    margin-right: auto;
}

#contact-tel {
    width: 67px;
    height: 67px;
    margin: 8px;
    background: url('logos/contact-tel.png') 0 0 no-repeat;
    float: left;
}

#contact-mail {
    width: 67px;
    height: 67px;
    margin: 8px;
    background: url('logos/contact-mail.png') 0 0 no-repeat;
    float: left;
}


#contact-twitter {
    width: 67px;
    height: 67px;
    margin: 8px;
    background: url('logos/contact-twitter.png') 0 0 no-repeat;
    float: left;
}

#contact-facebook {
    width: 67px;
    height: 67px;
    margin: 8px;
    background: url('logos/contact-facebook.png') 0 0 no-repeat;
    float: left;
}

.heateorSssFacebookSvg,  
.heateorSssTwitterSvg, 
.heateorSssCopyLinkSvg, 
.heateorSssMoreSvg { 
  background-color: var(--main-menutext-color)!important; 
  border-radius: 50%;
}

.heateorSssFacebookSvg:hover,  
.heateorSssTwitterSvg:hover, 
.heateorSssCopyLinkSvg:hover, 
.heateorSssMoreSvg:hover{ 
  background-color: #000000!important; 
}

#contact-tel:hover {
    background-position: 0 -67px;
}

#contact-mail:hover {
    background-position: 0 -67px;
}

#contact-twitter:hover {
    background-position: 0 -67px;
}
#contact-facebook:hover {
    background-position: 0 -67px;
}

/* Ajustement du pied de page */

#first-footer-widget {
    text-align: center;
    font-weight: bold;
    width: 100%;
}

#first-footer-widget aside div p a {
    text-decoration: underline;
    color: #000000;
}

#page-footer {
    display: none;
}

.widget {
    margin-bottom: 0px;
}

/* Ajustement de nos couleurs et qq corrections. du style femina.
 * on peut le consulter dans wp_plugin_cai/css/arch/style-femina-orig.css
 */
.flex-container a{
  width:100%;
  color: black;
}

.flex-container article:hover{
  background-color:var(--main-background-color);
}

mark,
ins {
    background: var(--main-background-color);
}

input[type="submit"][disabled]:focus {
    background: var(--main-background-color);
}

textarea:focus {
    border-color: var(--main-background-color);
}

a {
    color: var(--main-menutext-color);
    text-decoration: none;
}

a:hover {
    color: #000000;
}

.site-navigation a {
    color: #000000;
}

.social-menu a:hover:before,
.social-menu a:focus:before {
    color: #000000;
}

.post-navigation a,
.image-navigation a {
  color: var(--main-menutext-color);
}
.post-navigation a:hover{
  color: #000000;	
}

.more-link {
  color: var(--main-menutext-color);
}
.more-link:hover, .more-link:focus {
    color: #000000;
}

.pagination .page-numbers {
    background-color: var(--main-background-color);
    border: 1px solid var(--main-background-color);
}

.pagination .dots {
    color: #000000;
}

.pagination .prev,
.pagination .next {
    color: #000000;
}

.widget-area .tagcloud a:hover,
.widget-area .tagcloud a:focus {
    color: #000000;
    box-shadow: 0px 0px 1px 1px rgba(114,159,207,0.8);
}

.widget_calendar tbody a {
    color: #000000;
}

.widget_newsletterwidget{
  font-size:12px;
  text-transform: none;
}

.entry-title {
    color: #000000;
}

.entry-title a {
    color: var(--main-menutext-color);
    text-decoration: none;
}
.simplefavorite-button {
  padding: 5px;
}
.entry-title a:hover,
.entry-title a:focus {
    color: #000000;
    text-decoration: none;
}

.single .entry-author:hover,
.single .entry-author:focus {
    color: #000000;
}

.tag-links a:hover,
.tag-links a:focus {
    background-color: var(--main-background-color);
}

.tag-links a:hover:before,
.tag-links a:focus:before {
    border-right-color: var(--main-background-color);
}

.page-links a {
    background: var(--main-background-color);
    border: 1px solid var(--main-background-color);
}

.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover {
    color: #000000;
}

.comment a {
    color: #000000;
}

.logged-in-as a {
    color: #000000;
}

.logged-in #masthead {
    top: 0px;
}

.comment-reply-title small a:hover {
    color: #000000;
}

#footer-widget-area {
    background-color: var(--main-background-color);
    padding: 5px;
}

#page-footer {
    border-top: 2px solid var(--main-background-color);
}

.site-navigation a {
    color: #000000;
}

.primary-navigation li:hover > a,
.primary-navigation li.focus > a,
.primary-navigation a:focus {
    background-color: var(--main-background-color);
}

.primary-navigation ul ul a:hover,
.primary-navigation ul ul a:focus,
.primary-navigation ul ul li.focus > a,
.primary-navigation ul ul li > a:focus {
    background-color: var(--main-background-color);
}

.primary-navigation .menu-item-has-children > a .genericon,
.primary-navigation .page_item_has_children > a .genericon {
    -webkit-font-smoothing: antialiased;
  "\f502"
    ; /* arrow down */
  display: inline-block;
}

#pre-menu {
    background-color: var(--main-background-color);
}

#categories2-menu {
    background-color: var(--main-background-color);
}

.prueba-count li p:before {
    color: #000000;
} 

/* Présentation de la page qui sommes nous. */

table.quisommesnous { 
  border-style: none;
}
table.quisommesnous tr { 
  border-style: none;
}
table.quisommesnous tr td { 
  border-style: none;
  padding-left: 40px;
}
table.quisommesnous tr td.title {
 padding-left:10px;
}
table.quisommesnous tr td.logo {
  height:150px;
  text-align:center;
  vertical-align:middle;
  padding-left:0px;
}

/* Tag Cloud customization */
.tagcloud {
  text-transform: none;
}
